<div class="ads-column-skinny <%= class_name %>">
  <div class="ads-title">sponsors</div>
  <div class="ad-box">
    <%= raw cj180_ad2 %>
  </div>
  <div class="ad-box">
    <%= raw cj180_ad %>
  </div>
  <!--<div class="ad-box">
    <img alt="advertisement" src="http://cdn.fantasytradecritic.com/images/180x150.gif" />
  </div>-->
  <div class="ad-skyscraper">
    <%= raw skyscraper_ad %>
    <!--<img alt="advertisement" src="http://cdn.fantasytradecritic.com/images/160x600.gif" />-->
  </div>
  <div class="ad-box amazon">
    <%= raw amazon_ad %>
  </div>
</div>